<h1 class="text-3xl">About Page</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    This is a small and simple app to show how to use the next:
  </p>

  <ul class="list-disc ml-4">
    <li>SSG + SSR en Angular</li>
    <li>Implentation SEO tags</li>
    <li>Links that show metadata</li>
    <li>Hybrid pagination</li>
    <li>Static generation</li>
    <li>Pagination with route arguments</li>
    <li>Static generation with route arguments</li>
    <li>Deploy to free hosting which is Vercel</li>
  </ul>
</section>
